button {
    width: 70px;
    height: 20px;
    margin: 0px 0px 0px 10px;
    }

#red {
	background-color: red;
	color: white;
	margin: 0px 0px 0px 5px;
}

#black {
	background-color: black;
	color: white;
	margin: 0px 0px 0px 5px;
}